/* * {
  box-sizing: border-box;
}
*/


/* Ha menybar fult boks */
body {
  margin: 0;
  padding: 0;
  background-color: #444444; /* Finnes ikke pga bildet er alerede på bakgrunn */
  background-image: url("/HovedNettside/img/Background.png");
  background-attachment: fixed;
  background-position-y: -450px;
  background-position-x: -160px;
  background-size: 110rem;
  background-repeat: no-repeat;


  
}


/* Gjør at inni body ikke ligger helt på venstre */
.innhold {
  margin: 0;
  padding: 20px;
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.innhold a {
  color: lightyellow;
}

.boksInnhold {
  background-color: #444444;
  border-radius: 21px;
  padding: 6px;
  box-shadow: 0 10px black; /* Shygge under boksen */
  opacity: 90%;
  /* background-image: url("https://cdn.discordapp.com/attachments/678885570268626954/918955954995888148/Shygge.png"); */


}

.nav {
  display: flex;
  /* justify-content:space-between;   /* Avstand mellom Jacky's Nettside og meny navn*/
  align-items: center;              /* Ha Jacky's Nettside midstilt høyde */
  background-color: black;
  z-index: 100;                         /* Over kontent */ 
 /* color: black; */
}



.Meny ul {
  margin: 0;
  padding: 0;
  display: flex;    /* Få meny til horisontal */
}

.Meny li {
  list-style: none; /* Fjern punkt */

}

.Meny li a {
  text-decoration: none;   /* Fjerne underlinje */
  padding-right: 1rem;           /* Avstand mellom meny navn. Også stærelse på meny boks */
  padding-top: 2.45rem;
  padding-bottom: 2.45rem;
  padding-left: 1rem;
  display: block;          /* Ny linje på meny navn når meny ikon trykkes */
  color: white;          /* Det vet du :D */
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav li a:hover:not(.Highlight) { /* :not(.HIghlight) gjør at hvis person hover over meny de er på nå, kan den ikke bytte farge */
  background-color: gray;
  transition: 0.5s;
}


/* Easy peasy, at jeg trenger ikke å forklare denne koden, BABY! */
.Meny .Highlight {
  background-color: darkblue;
}



.button {
  position: absolute;                /* Put bar ikon på høyre */
  top: 2.45rem;                        /* Bar ikon fra top space */
  right: 2rem;                       /* Bar ikon fra høyre space */
  flex-direction: column;
  display: none;                    /* Kun vises når størelsen er for liten */    
  color: white;        
  /*   justify-content: space-between;   */
}


/* Størelse på bildet. De fleste bilder og video ligger i Portfolio */
.Size {
  display: block;
  width: 75%;
  padding-bottom: 18px;
}

/* Logo */
.NameWeb {
  background-color: lightgrey;
  height: 6rem;
  width: 8rem;
}

#shuriken {
  width: 33%;
}

.PDFpresent {
  width: 75%;
  height: 30rem;
  padding-bottom: 18px;
}


/* Portfolio */


.SchoolProject2021_2022 {
  cursor: pointer;      /* Når du hover på Accordion, viser pilen "Pek"*/
  padding: 3px;        /* Feit på de hvite boks*/
  width: 100%;         /* Lengden på Accordion */
  text-align: left;     /* Flytt teksten på venstre */
  border: none;         /* Fjern ytre linje.*/
  transition: 0.3s;    

  
  
}


.SchoolProject2021_2022:hover {
  background-color: gray;   /* Hvis pilen er på Accordion, bytt farge til svart (Svart er ikke farge med ok. Folk sier det også på nettet.)*/
  color: white;              /* Bytt tekst farge til hvit som at det er leselig */

}



.TrykkePåBoks {
  padding: 18px;              /* Gjør at inni kontent ble ikke plasert på hjørne */
  display: none;                /* Gjem kontent. Hvis du trykker på Accordion, vis kontent */
  overflow: hidden;            /*  "Connect" Accordion og kontent */        
  background-color: gray;     /* Bakgrunnsfarge inni kontent */
  
}

.TrykkePåBoks.active {
  display: block;
}

.BpA { /* Bakgrunn på accordion */
  padding: 20px;
  background-color: #444444;
  border-radius: 25px;
  box-shadow: black 0 10px;
  background: rgba(68,68,68,0.9);



}

.thumbnail {
  width: 125px;
  height: 100px;
}


#XD {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 428px;
  height: 926px;
}


/* Farger */

.neonFarger {
  animation-name: fargeShift;                /* Samme som variabler */
  animation-duration: 2s;                   /* Hvor sjapt farger byttes inni "Mitt drømme-selvportrett" */      
  animation-iteration-count: infinite;     /* Kjøres for alltid! Fargen stopper ikke*/

  }

@keyframes fargeShift {
  0%   {color: yellow;}
  25%  {color: green;}
  50%  {color: blue;}
  75% {color: red;}
  100% {color: yellow;}
}


@media (max-width: 730px) {
  /* Vis ikon når siden er liten */
  .button {
    display: flex;
  }

  /* Vis meny når meny ikon trykkes */
  .Meny {
    display: none;
    width: 100%;
  }

  
  .nav {
    flex-direction: column;
    align-items: flex-start; /* Logo fortsatt på venstre når endre størelsen */
  }
  .Meny ul {
    width: 100%;               /* Alltid midstilt meny navn */
    flex-direction: column;
  }
  
  .Meny li {
    text-align: center;    /* Ha meny navn i midten */
  }
  .Meny li a {
    padding: .5rem 1rem;
  }

  
  .Meny.active {
    display: flex;
  }


}

